# Build Related
.gradle
.gradle-tmp
build
local.properties
*.iml
.idea

# Electron Bloat
/.vscode
*.pak
*.asar

# Certificate & tmp files
/sign
*.jks
*.keystore
keystore.properties
/anim
/tmp

# Agent Related
/CLAUDE.md
/GEMINI.md
/AGENTS.md

# For those who using Android Studio
# btw I use Neovim
captures/
*.hprof

# No more iApp again
/oldie
*.iapp
*.iyu
